<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if @icon %>
    <div class="Banner-visual">
      <%= primer_octicon @icon %>
    </div>
  <% end %>
  <div class="Banner-message">
    <%= content %>
  </div>
  <% if action %>
    <div class="Banner-actions">
      <%= action %>
    </div>
  <% end %>
  <% if @dismissible %>
    <div class="Banner-close">
      <button class="js-flash-close" aria-label="Dismiss">
        <%= primer_octicon "x" %>
      </button>
    </div>
  <% end %>
<% end %>
